.form-check {
  &> :is(.form-check-input, .form-check-label) {
    cursor: pointer;
  }

  &:has(.form-check-input:checked)>.form-check-label {
    &::after {
      content: attr(data-ativo);
    }
  }

  &:not(:has(.form-check-input:checked))>.form-check-label {
    font-weight: unset !important;
    color: var(--bs-grey);

    &::after {
      content: attr(data-inativo);
    }
  }
}

#table_names > tbody.for-empty-table {
  display: none !important;

  &:is(:only-of-type, :has(+ tbody:empty)) {
    display: revert !important;
  }

  & td {
    --bs-table-bg-type: unset !important;
  }
}

tr.to-remove {
  opacity: 0;
  font-size: 0;
  margin: 0;
  transition: opacity 0.5s, font-size 0.5s, margin 0.5s;
}

tr.blink {
  animation: blink 0.5s;
}

@keyframes blink {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  70% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
