.container {
  max-width: 800px;
}

html {
  &[lang="en"] body [data-content]::after {
    content: attr(data-en);
  }

  &[lang="pt-br"] body [data-content]::after {
    content: attr(data-pt-br);
  }
}

img[src$=".svg"] {
  max-height: 0.875rem;

  /* Prop abaixo faz a imagem não ultrapassar as dimensões máximas e também mantém as proporções iniciais. */
  object-fit: contain;
}

button[disabled] {
  cursor: not-allowed;
}

.for-empty-names {
  display: none !important;

  &:is(:only-of-type, :has(+ :empty)) {
    display: flex !important;
  }
}

input[type="radio"],
input[type="radio"]+label {
  cursor: pointer;
}

dialog::after {
  content: attr(final-msg);
  font-style: oblique;
  font-size: small;
  font-weight: bolder;
  position: absolute;
  right: 1%;
  bottom: 1%;
}