.container {
  max-width: 800px;
}

btn:disabled {
  cursor: not-allowed;
}

.for-empty-names {
  display: none !important;

  &:is(:only-of-type, :has(+ :empty)) {
    display: flex !important;
  }
}

input[type="radio"],
input[type="radio"]+label {
  cursor: pointer;
}

dialog::after {
  content: attr(final-msg);
  font-style: oblique;
  font-size: small;
  font-weight: bolder;
  position: absolute;
  right: 1%;
  bottom: 1%;
}